<!-- Custom Footer Content -->

<div id="globe-container">
  <script 
      type="text/javascript" 
      id="clstr_globe" 
      src="//clustrmaps.com/globe.js?d=dscFs6o4CE9C3Fi9h5eSmobboS0wctYbocdxO42Il2w">
  </script>
</div>

<style>
  #globe-container {
      width: 100px; /* 设置宽度 */
      height: 100px; /* 设置高度 */
      position: fixed;
      bottom: 20px; /* 距离页面底部20px */
      right: 20px; /* 距离页面右侧20px */
      overflow: hidden;
      z-index: 1000; /* 确保它显示在其他内容之上 */
  }
</style>



<script>
    document.getElementById('_pushState').addEventListener('hy-push-state-load', function() {
      // <your init code>
    });
  </script>


